@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
    font-family: "Roboto Mono", monospace;
    font-weight: 100;
    font-size: 0.9rem;
    background-color: transparent;
    color: rgb(254 243 199);
    border: none;
}
